/* Estilos para el contenedor de los locales */
.locales-container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

/* Estilos para cada local */
.local {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.local p {
    margin: 0;
    font-size: 16px;
}

.local h2 {
    color: #ff95b8;
    margin-bottom: 20px;
    font-size: 22px;
}

h1 {
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 20px !important;
    line-height: 1.4em;
    background: linear-gradient(90deg, rgba(255, 149, 221, 1) 0%, rgba(148, 187, 233, 1) 100%);
    -webkit-background-clip: text;
    color: transparent;
}